{% extends "base.html" %}

{% block scripts %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
   
    function convert(cur_from, cur_to, value, result_value) {
        $.post('/convert', {
            cur_from: document.getElementById(cur_from).value,
            cur_to: document.getElementById(cur_to).value,
            value: document.getElementById(value).value
        }).done(function(response) {
            document.getElementById(result_value).value = response['text']
        });
    }
</script>

<script>
    function swap_cur(cur_from, cur_to, value, result_value) {
        let tmp = document.getElementById(cur_from).value
        document.getElementById(cur_from).value = document.getElementById(cur_to).value
        document.getElementById(cur_to).value = tmp

        tmp = document.getElementById(value).value
        document.getElementById(value).value = document.getElementById(result_value).value
        document.getElementById(result_value).value = tmp
    }
</script>

{% endblock %}


{% block app_content %} 
    <h1>Конвертер валют</h1>
    <div class="form-inline" style="display: flex;">
        <input type="number" class="form-control" id="amount" value ="0" step="1" oninput="convert('from_currency','to_currency','amount','result')">
        <select class="form-control" id="from_currency" style="margin-right: 5px;" onchange="convert('from_currency','to_currency','amount','result')">
            <option value="USD">Доллар</option>
            <option value="EUR">Евро</option>
            <option value="GBP">Фунт</option>
            <option value="RUB">Рубль</option>
        </select>

    <button type="button" class="btn btn-primary" id="swap_currencies" onclick="swap_cur('from_currency','to_currency','amount','result')">
        &#11136;
    </button>

        <input type="number" class="form-control" id="result" value="0" readonly style="background-color: #ffffff; margin-left: 5px;">
        <select class="form-control" id="to_currency" onchange="convert('from_currency','to_currency','amount','result')">
            <option value="USD">Доллар</option>
            <option selected ="selected" value="EUR">Евро</option>
            <option value="GBP">Фунт</option>
            <option value="RUB">Рубль</option>
        </select>
    </div>
{% endblock %}